.foodStripIcons-container {
	background-color: #00a149;
	padding: 35px 0px;
	.foodStripIcons-wraper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 80px;
		padding-left: 80px;

		div:hover {
			cursor: pointer;
		}
		.icon-wraper {
			display: flex;
			flex-direction: column;
			align-items: center;
			img {
				height: 80px;
			}

			p {
				color: white;
				font-size: 12px;
				font-family: 'Roboto', sans-serif;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
}


@media (max-width: 1328px) {
	.foodStripIcons-container {
		.foodStripIcons-wraper{


			.icon-wraper1{
				display: none;
			}

			.icon-wraper2{
				display: none;
			}

		}

	}
}

@media (max-width: 970px) {
	.foodStripIcons-container {
		.foodStripIcons-wraper{
		.icon-wraper3{
			display: none;
		}

		.icon-wraper4{
			display: none;
		}


	 }}
 }


 @media (max-width: 670px) {
	.foodStripIcons-container {
		.foodStripIcons-wraper{
			justify-content: center;
			gap: 100px;
		.icon-wraper5{
			display: none;
		}

		.icon-wraper6{
			display: none;
		}


	 }}
 }
