.foodStripIcons-container {
	background-color: #00a149;
	padding: 35px 0px;
	.foodStripIcons-wraper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 80px;
		padding-left: 80px;

		div:hover {
			cursor: pointer;
		}
		.icon-wraper {
			display: flex;
			flex-direction: column;
			align-items: center;
			img {
				height: 80px;
			}

			p {
				color: white;
				font-size: 12px;
				font-family: 'Roboto', sans-serif;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
}
