.menu-cart-item-box {
	display: flex;
	color: black;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
	img {
		height: 70px;
		width: 70px;
	}

	.name-para {
		width: 100px;
		text-align: left;
        font-size: 15px;
	}
	.info-box {
		display: flex;
		align-items: center;

		.price-para {
            width: 160px;
            text-align: left;
            color: rgba(21, 143, 21, 0.664);
            font-size: 14px;
            

		}
		.MuiSvgIcon-root {
			path {
				color: black;
			}
		}
	}
}
