.hero-section-container .hero-image-wraper {
  height: 700px;
}
.hero-section-container .hero-image-wraper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.hero-section-container .order-wraper {
  position: relative;
  height: 500px;
}
.hero-section-container .order-wraper .order-images-wraper {
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 500px;
  z-index: 10;
  padding: 0px 7px;
}
.hero-section-container .order-wraper .order-images-wraper img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-section-container .order-wraper .order-images-wraper .first-image {
  flex-basis: 38%;
  align-self: stretch;
  position: relative;
  text-align: center;
  color: white;
}
.hero-section-container .order-wraper .order-images-wraper .dabel-image-wraper {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex-basis: 33%;
  gap: 30px;
}
.hero-section-container .order-wraper .order-images-wraper .dabel-image-wraper .image-wraper {
  height: 47%;
  position: relative;
  text-align: center;
  color: white;
}
.hero-section-container .order-wraper .order-images-wraper .dabel-image-wraper .image-wraper .top-left-div-image-main-section {
  gap: 10px;
}
.hero-section-container .order-wraper .order-images-wraper .dabel-image-wraper .image-wraper .top-left-div-image-main-section .type {
  font-size: 35px;
}
.hero-section-container .order-wraper .order-images-wraper .last-image {
  flex-basis: 25%;
  align-self: stretch;
  position: relative;
  text-align: center;
  color: white;
}
.hero-section-container .order-wraper .order-images-wraper .last-image .action-btn {
  background-color: white;
}
.hero-section-container .order-wraper .order-images-wraper .last-image .action-btn:hover {
  background-color: #ffc222;
  color: white;
}
.hero-section-container .info-box-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.hero-section-container .last-hero-image-wraper {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  height: 750px;
  position: relative;
}
.hero-section-container .last-hero-image-wraper .top-left-div-image-main-section {
  position: absolute;
  top: 130px;
  left: 70%;
  color: white;
}
.hero-section-container .last-hero-image-wraper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-left-div-image-main-section {
  position: absolute;
  top: 8px;
  left: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}
.top-left-div-image-main-section .headline {
  font-family: "Miniver", cursive;
  font-size: 40px;
}
.top-left-div-image-main-section .type {
  color: #ffc222;
  font-family: "Caprasimo", cursive;
  font-size: 65px;
}
.top-left-div-image-main-section .hotdogheadline {
  font-size: 30px;
}
.top-left-div-image-main-section .action-btn {
  background-color: #ffc222;
  color: black;
  font-family: "Caprasimo", cursive;
  transition: 0.3s;
  padding: 14px 20px;
  border-radius: 13px;
}
.top-left-div-image-main-section .action-btn:hover {
  color: white;
  background-color: #ffc222;
}

.hero-section-info-box-wraper {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 3.5px dashed rgba(202, 196, 196, 0.575);
  padding: 10px 25px;
}
.hero-section-info-box-wraper svg {
  font-size: 74px;
  color: #ffc222;
}
.hero-section-info-box-wraper .headline {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}
.hero-section-info-box-wraper .message {
  font-size: 13px;
  color: rgb(202, 196, 196);
}
.hero-section-info-box-wraper:hover {
  border-color: #ffc222;
}

.pupularFood-container.MuiContainer-root {
  padding-top: 20px;
  padding-bottom: 30px;
  background: url("https://img.freepik.com/premium-vector/fast-food-decorative-seamless-pattern_202271-115.jpg?w=740");
  display: flex;
  gap: 60px;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1055px) {
  .hero-section-container .info-box-container {
    margin-top: 1100px;
    padding-left: 30px;
  }
  .hero-section-container .order-wraper {
    position: static;
  }
  .hero-section-container .order-wraper .order-images-wraper {
    flex-direction: column;
    gap: 20px;
    position: static;
    transform: none;
    padding: 10px 0px;
  }
  .hero-section-container .order-wraper .order-images-wraper .first-image {
    height: 400px;
  }
  .hero-section-container .order-wraper .order-images-wraper .first-image {
    height: 400px;
  }
  .hero-section-container .order-wraper .order-images-wraper .last-image {
    height: 400px;
  }
  .hero-section-container .order-wraper .order-images-wraper .dabel-image-wraper {
    height: 700px;
  }
  .hero-section-container .last-hero-image-wraper .top-left-div-image-main-section {
    left: 20%;
  }
}
@media (max-width: 720px) {
  .pupularFood-container.MuiContainer-root {
    justify-content: center;
  }
  .info-box-container {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .info-box-container {
    margin-top: 200% !important;
  }
}
@media (max-width: 540px) {
  .info-box-container {
    margin-top: 200% !important;
  }
}/*# sourceMappingURL=style.css.map */