.btn-nav-wraper {
	.btn-nav-link {
		margin: 0;
		padding: 0;
		background-color: transparent;
		color: white;
        transition: 0.5s;
        font-family: 'Roboto', sans-serif;
        text-transform: none;
        font-weight: 400;


		&:hover {
			color: #ffc222;
		}
	}
}

.menu-link {
	.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
		top: 85px !important;
		border-top: 3.6px solid #ffc222;
		width: 300px;

		li {
			font-size: 13px;
            transition: 0.2s;

            &:hover{
                margin-left: 10px;
                color: #ffc222;
            }
		}
	}
}
